<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>DataBase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.kkc.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.kkc.login.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.kkc.register.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRoom</display-name>
    <servlet-name>MyRoom</servlet-name>
    <servlet-class>com.kkc.matching.MyRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRoom</servlet-name>
    <url-pattern>/myRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UseLog</display-name>
    <servlet-name>UseLog</servlet-name>
    <servlet-class>com.kkc.uselog.UseLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseLog</servlet-name>
    <url-pattern>/useLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchingRoomSignServelt</display-name>
    <servlet-name>MatchingRoomSignServelt</servlet-name>
    <servlet-class>com.kkc.matching.MatchingRoomSignServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchingRoomSignServelt</servlet-name>
    <url-pattern>/matchingRoomSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchingServlet</display-name>
    <servlet-name>MatchingServlet</servlet-name>
    <servlet-class>com.kkc.matching.MatchingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchingServlet</servlet-name>
    <url-pattern>/matchingStart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadChatServlet</display-name>
    <servlet-name>LoadChatServlet</servlet-name>
    <servlet-class>com.kkc.chat.LoadChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChatServlet</servlet-name>
    <url-pattern>/loadChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.kkc.chat.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatListServlet</display-name>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>com.kkc.chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/chatList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatSelectServlet</display-name>
    <servlet-name>ChatSelectServlet</servlet-name>
    <servlet-class>com.kkc.chat.ChatSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatSelectServlet</servlet-name>
    <url-pattern>/chatSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FCMServlet</display-name>
    <servlet-name>FCMServlet</servlet-name>
    <servlet-class>com.kkc.fcm.FCMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FCMServlet</servlet-name>
    <url-pattern>/registerFcmToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.kkc.review.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySchedule</display-name>
    <servlet-name>MySchedule</servlet-name>
    <servlet-class>com.kkc.matching.MySchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySchedule</servlet-name>
    <url-pattern>/mySchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendReviewServlet</display-name>
    <servlet-name>SendReviewServlet</servlet-name>
    <servlet-class>com.kkc.review.SendReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReviewServlet</servlet-name>
    <url-pattern>/sendReview</url-pattern>
  </servlet-mapping>
</web-app>